.license_table {
  max-width: 240px;
  font-size: 9pt;
  line-height: 11pt;
}
.license_table .license_header {
  background-color: #d7d3d3;
}
.license_table .license_header .license_header_up {
  overflow: hidden;
  background-color: #dde9fd;
  padding-top: 5px;
  padding-bottom: 5px;
}
.license_table .license_header .license_header_up .license_spoiler_sign {
  float: left;
}
.license_table .license_header .license_header_up .order_id {
  float: left;
  margin-left: 10px;
}
.license_table .license_header .license_header_up .license_count {
  float: right;
  font-weight: bold;
}
.license_table .license_header .license_key {
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}
.license_table .license_header .license_header_down {
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
}
.license_table .license_header .license_header_down .license_type {
  font-weight: bold;
  float: left;
}
.license_table .license_header .license_header_down .license_buttons {
  float: right;
}
.license_table .license_header .license_header_down .license_buttons .button {
  float: left;
  margin-left: 5px;
}
.license_table .license_activates .activate_item .activate_header {
  background-color: #f4d4c9;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
}
.license_table .license_activates .activate_item .activate_header .device_name {
  float: left;
}
.license_table .license_activates .activate_item .activate_header .activation_date {
  float: right;
  font-weight: bold;
}
.license_table .license_activates .activate_item .activate_content {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ffe9e1;
}
.license_table .license_activates .activate_item .button.deactivate {
  padding-top: 5px;
  padding-bottom: 5px;
}
