.license_table
	max-width 250px
	font-size 9pt
	line-height 11pt
	margin-bottom 20px
	.license_header
		background-color rgba(221, 233, 253, 1.000)
		padding-left 5px
		padding-right 5px
		.license_key
			font-weight bold
			padding-top 5px
		.order_id
			padding-top 5px
			color grey
		.product_name
			padding-top 5px
			color grey
		.license_content
			overflow hidden
			padding-top 10px
			padding-bottom 10px
			.license_type
				font-weight bold
				float left
			.license_buttons
				float right
				.button
					float left
					margin-left 5px
					a
						color blue

	.license_activates
		overflow hidden
		padding-top 5px
		padding-bottom 5px
		padding-left 5px
		padding-right 5px
		background-color rgba(215, 211, 211, 1.000)
		cursor pointer
		&:hover
			background-color rgba(244, 212, 201, 1.000)
		.activates_title
			float left
			&:before
				content '+'
				width 12px
				display inline-block
			&.open:before
				content '--'
		.activates_count
			font-weight bold
			float right

	.license_activates_content
		display none
		&.open
			display block
		.activate_item
			.activate_header
				background-color rgba(244, 212, 201, 1.000)
				overflow hidden
				padding-top 5px
				padding-bottom 5px
				padding-left 5px
				padding-right 5px
				.device_name
					float left
				.activation_date
					float right
					font-weight bold
			.activate_content
				padding-top 5px
				padding-bottom 5px
				padding-left 5px
				padding-right 5px
				background-color rgba(255, 233, 225, 1.000)
			.button.deactivate
				padding-top 5px
				padding-bottom 5px
				a
					color blue