.license_table
	max-width 400px

	.license_header
		background-color rgba(221, 233, 253, 1.000)
		.license_header_up
			.license_spoiler
				overflow hidden
				.license_spoiler_sign
					float left
					color red
				.license_key
					float left
				.license_count
					float right
		.license_header_down
			overflow hidden
			.product_name
				float left
			.order_id
				float right