.license_table
	max-width 240px
	font-size 9pt
	line-height 11pt

	.license_header
		background-color rgba(215, 211, 211, 1.000)
		.license_header_up
			overflow hidden
			background-color rgba(221, 233, 253, 1.000)
			padding-top 5px
			padding-bottom 5px
			.license_spoiler_sign
				float left
			.order_id
				float left
				margin-left 10px
			.license_count
				float right
				font-weight bold
		.license_key
			font-weight bold
			padding-top 5px
			padding-bottom 5px
		.license_header_down
			overflow hidden
			padding-top 5px
			padding-bottom 5px
			.license_type
				font-weight bold
				float left
			.license_buttons
				float right
				.button
					float left
					margin-left 5px

	.license_activates
		overflow hidden
		padding-top 5px
		padding-bottom 5px
		.button.activates
			float left
		.license_count
			float right

	.license_activates_content
		.activate_item
			.activate_header
				background-color rgba(244, 212, 201, 1.000)
				overflow hidden
				padding-top 5px
				padding-bottom 5px
				.device_name
					float left
				.activation_date
					float right
					font-weight bold
			.activate_content
				padding-top 5px
				padding-bottom 5px
				background-color rgba(255, 233, 225, 1.000)
			// .device_info
			.button.deactivate
				padding-top 5px
				padding-bottom 5px