doctype html
html
	head
		title P L U G I N
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(rel='stylesheet', type='text/css', href='css/main.css')
		script(type='text/javascript', src='js/libs/jquery-3.3.1.min.js')
		script(type='text/javascript', src='js/main.js')
	body
		.license_table
			.license_header
				.license_header_up
					.license_spoiler
						.license_spoiler_sign -
						.license_key Y8EG-829A-S7VQ-2Y9H-SPBM-25AT-RSTA
						.license_count 1 / 1
				.license_header_down
					.product_name Cinema Grade Pro Grain
					.order_id Order #0000000000 Permanent

			.license_content
				.license_type

					.license_type_text Subscribtion Ends: 2018-09-13
					.license_type_buttons
						.add_7_days_button: a(href='#') Add 7 days

					.license_type_text Permanent License
					.license_type_buttons
						.revoke_button: a.license_revoke(href='#') Revoke

			.license_details
				.activation_header
					.device_name Macmini7,1 x86_64
					.activation_date 2018-09-13 09:14:46

				.hardware_info
					.hardware_info_data
						div Cinema Grade git.2433.7557f3e6 (develop)
						div Macmini7,1 x86_64
						div Intel(R) Core(TM) i5-4308U CPU @ 2.80GHz x 4
						div 8.0 GB
						div macOS 10.14.0
						div Intel Iris
						div vkorepanovs Mac mini
					.deactivate_button: a.license_deactivate(href='#') Deactivate

				.not_activated